name: Run Puppeteer Script on Schedule

on:
  schedule:
    # Only run on Sunday (7), Monday (1), Tuesday (2), Wednesday (3), Thursday (4) Both 0 and 7 can refer to Sunday
    # Runs at 11:15 UTC (5:00 PM Nepal Time)    # Runs at 10:15 UTC (4:00 PM Nepal Time)
    - cron: '15 10 * * 0'  # Sunday
    - cron: '15 10 * * 1'  # Monday
    - cron: '15 10 * * 2'  # Tuesday
    - cron: '15 10 * * 3'  # Wednesday
    - cron: '15 10 * * 4'  # Thursday
  workflow_dispatch:      # Allow manual run via GitHub web UI

jobs:
  run-scraper:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Install dependencies
        run: npm install
        
      - name: Skip Fridays and Saturdays
        run: |
          day=$(date -u +%u)
          if [ "$day" -eq 5 ] || [ "$day" -eq 6 ]; then
            echo "â© Skipping run on Friday or Saturday (Day $day)"
            exit 0
          fi

      - name: Decode service-account.json from base64
        run: echo "$SERVICE_ACCOUNT_BASE64" | base64 -d > service-account.json
        shell: bash
        env:
          SERVICE_ACCOUNT_BASE64: ${{ secrets.SERVICE_ACCOUNT_BASE64 }}

      - name: Run Puppeteer Script
        run: node index.js

      - name: Upload CSV to Google Drive
        run: node uploadToDrive.js
        env:
          DRIVE_FOLDER_ID: ${{ secrets.DRIVE_FOLDER_ID }}
